snippet rfc "react functional component"
	import React from 'react'

	export default function ${1}() {
	  return (
	  	<div>
		  ${0}
	  	</div>
	  )
	}

snippet rfce "react functional component export"
	import React from 'react'

	function ${1}(${2}) {
	  return (
	  	<div>
		  ${0}
	  	</div>
	  )
	}

	export default $1

snippet fn "new function"
	function ${1}(${2}) {
	  ${0}
	}
